# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

# Unit test / coverage reports
.pytest_cache/

# Sphinx documentation
docs/_build/
doc/_build
doc/.build
.build
doc/api/**
.doctrees/

# pyenv
.python-version

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# PyCharm
.idea
