
<!DOCTYPE html>

<html>
  <head>
    {% for item in meta_list %}
        {{ item }}
    {% endfor %}

    <title> Documentation for the Releases </title>

<body>

   <div class="section" id="existing-releases">
    <h2>Existing Releases<a class="headerlink" href="#existing-releases" title="Permalink to this headline">¶</a></h2>
    <ul class="simple">
    {% for release in releases %}
        {% if release.release == "main" %}
                <li><p><a class="reference internal" href="{{ release.release_path }}"><span class="std std-ref">latest</span></a></p></li>
        {% endif %}
        {% if not release.release == "main" %}
                <li><p><a class="reference internal" href="{{ release.release_path }}"><span class="std std-ref">{{ release.release }}</span></a></p></li>
        {% endif %}
    {% endfor %}

    </ul>
    </div>

    {% for item in footer %}
        {{ item }}
    {% endfor %}


</body>
</html>
